body {
    padding: 0;
    margin: 0;
    display: grid;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    font-family: sans-serif;
    font-weight: bold;
    background-image: url("img/backg.jpg");
    background-size: inherit;
    background-position: center center;
}
#resultado {
    font-size: 4vh;
    color: silver;
    text-align: center;
    font-family: 'Langar', cursive;
    margin: 0 auto;
    font-family: 'Langar', cursive;
    color: silver;
    text-shadow: 5px 5px 10px #000000;
}
body section#Principal {
    padding: 0;
    margin: 0;
    height: 70vh;
    width: 95vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 2px solid #acb2e6;
    box-shadow: 5px 5px 20px silver inset;
}
body section#Principal p {
    padding-top: 10px;
    font-size: 1.25rem;
}
#h1 {
    font-size: 55px;
    margin: 0 auto;
    font-family: 'Langar', cursive;
    color: silver;
    text-shadow: 5px 5px 10px #000000;
}
#disk-4 {
    width: 18vw;
    max-width: 15vw;
    min-width: 0vw;
    height: 10vh;
    max-height: 15px;
    min-height: 15px;
    background-color: rgb(146, 15, 15);
    border-radius: 5px;
    border: 1px solid whitw;
    border: rgb(0, 0, 0) 2px solid;
    box-shadow: 2px 2px 10px silver inset;
}
#disk-3 {
    width: 15vw;
    max-width: 13vw;
    min-width: 0vw;
    height: 10vh;
    max-height: 15px;
    min-height: 15px;
    background-color: #595;
    border-radius: 5px;
    border: 1px solid whitw;
    border: #000 2px solid;
    box-shadow: 2px 2px 10px silver inset;
}
#disk-2 {
    width: 10vw;
    max-width: 10vw;
    min-width: 0vw;
    height: 10vh;
    max-height: 15px;
    min-height: 15px;
    background-color: #acb2e6;
    border-radius: 5px;
    border: 1px solid whitw;
    border: #000 2px solid;
    box-shadow: 2px 2px 10px silver inset;
}
#disk-1 {
    width: 2vw;
    max-width: 5vw;
    min-width: 5vw;
    height: 10vh;
    max-height: 15px;
    min-height: 15px;
    background-color: #08d;
    border-radius: 5px;
    border: 1px solid whitw;
    border: #000 2px solid;
    box-shadow: 2px 2px 10px silver inset;
}
#first-pin {
    margin: 0 auto;
    width: 15px;
    height: 30vh;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    background-color: black;
    border-radius: 20%;
}
#second-pin {
    margin: 0 auto;
    width: 15px;
    height: 30vh;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    background-color: black;
    border-radius: 20%;
}
#third-pin {
    margin: 0 auto;
    width: 15px;
    height: 30vh;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    background-color: black;
    border-radius: 20%;
}
body section#Principal span p {
    margin-top: 2px;
    margin-bottom: 0px;
}
span {
    border: 0.05vw solid black;
    padding: 5vw 15vh;
    border-color: silver;
    box-shadow: 10px 10px 30px silver inset;
}
@media (max-width:380px) {
    body section#Principal {
        padding: 0;
        margin: 0;
        height: 95vh;
        width: 95vw;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    span {
        width: 40%;
        height: 20%;
        border: 1px solid black;
        border-color: silver;
        box-shadow: 10px 10px 30px silver inset;
    }
    #first-pin, #second-pin, #third-pin {
        width: 10px;
        height: 15vh;
    }
    p { 
        text-align: center;
        font-display: center;
    }
}
@media (min-width:381px) and (max-width:798px) {
    body section#Principal {
        padding: 0;
        margin: 0;
        height: 95vh;
        width: 95vw;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    span {
        width: 40%;
        height: 20%;
        border: 1px solid black;
        border-color: silver;
        box-shadow: 10px 10px 30px silver inset;
    }
    #first-pin, #second-pin, #third-pin {
        width: 10px;
        height: 15vh;
    }
    #soe { 
        text-align: center;
        font-display: center;
    }
}